<nav class="bg-gray-100 p-4 shadow">
  <div class="flex gap-4">
    <a href="/" class="<%= (page == '/' ? 'font-bold text-blue-600' : '') %>">Home</a>
    <a href="/solutions/projects" class="<%= (page == '/solutions/projects' ? 'font-bold text-blue-600' : '') %>">Projects</a>
    <a href="/about" class="<%= (page == '/about' ? 'font-bold text-blue-600' : '') %>">About Me</a>
  </div>
</nav>
